@import "/src/style/base.scss";

/*****************
templatesTopPage.jsx
*****************/
.container{
    overflow:hidden;
    h3{
        position: relative;
        margin: 0 0 0 20px;
        padding:15px 0;
        &::before {
            content: "";
            position: absolute;
            background: cl(black);
            width: 50px;
            height: 1px;
            left: -60px;
            top: 50%;
        }
    }
}



/*****************
templates/Dishes.jsx
*****************/
.dishes{
    padding:30px;
    .searchResult{
        font-size: 24px;;
        margin-bottom:20px;
    }
    .wrap{
        display: flex;
        &:not(:first-child){
            margin-top:30px;
        }
        .left{
            width:50%;
            margin:auto;
        }
        .right{
            .top{
                display: flex;
                margin-bottom: 20px;;
                .food{
                    padding-right:30px;
                }
            }
        }
    }
}