@import "/src/style/base.scss";

/*****************
StoreSlider.jsx
*****************/
.sliderContainer{
    position: relative;
    padding:10px;
    .posted{
        .postedTitleWrap{
            display:flex;
            p{
                padding-right:15px;
            }
        }
        .postedContent{
            display:flex;
            padding:10px;
            .picWrap {
                text-align:center;
                padding-right:15px;
                max-height:200px;
            }
        }
        .whiteButtonWrap{
            text-align:right;
            height:40px;
            .whiteButton{
                padding: 0.5rem 1rem;
                border:1px solid cl(black);
                background-color:cl(white);
                color:cl(white);
                width:200px;
                height:200px;
            }
        }
    }
}

/*****************
Slider.jsx
*****************/
.topSliderContainer{
    position: relative;
    -webkit-box-sizing: border-box;
    .slideItem{
        position:relative;
        .sliderTxt{
            z-index:10;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color:white;
            font-weight:bold;
        }
    }
}