/*****************
molecules/SearchWrap.jsx
*****************/
.searchArea{
    width:100%;
    margin-top:-40px;
    position: relative;
    z-index:999;
    .searchInner{
        width:100%;
        margin-bottom:15px;
        .searchField{
            display:block;
            width:100%;
            line-height:40px;
            &::placeholder {
                text-align:center;
            }
        }
    }
    .searchButton{
        padding: 0.5rem 2.25rem;
        border:1px solid black;
        font-weight:bold;
        background-color:black;
        color:white;
        text-align:center;
    }
}

/*****************
molecules/Header.jsx
*****************/
.headerLeft{
    position: fixed;
    display: flex;
    height:76px;
    line-height: 76px;
    padding:0 20px;
    h2{
        font-size: 18px;;
        font-weight: bold;
    }
}
.headerRight{
    position: fixed;
    display: flex;
    height:40px;
    line-height: 40px;
    right:75px;;
    top:10px;
    p{
        // 仮置き
        background-color: black;
        color: white;
        padding:5px;
        height:40px;
        line-height: 40px;
    }
}
